doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Get Faceit accounts stats from Steam parameters such as: Vanity URLs, Custom URLs, SteamID64 URLs, Steam64 IDs, Steam2 IDs')
    meta(itemprop='name', content=title)
    meta(itemprop='description', content='Get Faceit accounts stats from Steam parameters such as: Vanity URLs, Custom URLs, SteamID64 URLs, Steam64 IDs, Steam2 IDs')
    meta(itemprop='image', content='https://ibb.co/xCYSnqX')
    meta(property='og:url', content='https://faceitfinder.app')
    meta(property='og:type', content='website')
    meta(property='og:title', content=title)
    meta(property='og:description', content='Get Faceit accounts stats from Steam parameters such as: Vanity URLs, Custom URLs, SteamID64 URLs, Steam64 IDs, Steam2 IDs')
    meta(property='og:image', content='https://ibb.co/xCYSnqX')
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:title', content=title)
    meta(name='twitter:description', content='Get Faceit accounts stats from Steam parameters such as: Vanity URLs, Custom URLs, SteamID64 URLs, Steam64 IDs, Steam2 IDs')
    meta(name='twitter:image', content='https://ibb.co/xCYSnqX')
    title= title
    link(rel='icon' type='image/png' href='/img/logo.png')
    link(rel='stylesheet' href='/css/styles.css')
    block stylesheets
  body.bg-gray-800.text-opensans
    nav.bg-gray-800.fixed.w-full.z-50.border-b.border-gray-700
      .mx-auto.container.px-2(class='sm:px-6 lg:px-8')
        .relative.flex.items-center.justify-between.h-16
          .absolute.inset-y-0.left-0.flex.items-center(class='sm:hidden')
            button.inline-flex.items-center.justify-center.p-2.rounded-md.text-gray-400(type='button' class='hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white' aria-controls='mobile-menu' aria-expanded='false' onclick='toggleMobileMenu()')
              span.sr-only Open main menu
              //- Menu is closed
              svg#open-menu.block.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' aria-hidden='true')
                path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 6h16M4 12h16M4 18h16')
              //- Menu is open
              svg#close-menu.hidden.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' aria-hidden='true')
                path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 18L18 6M6 6l12 12')
          .flex-1.flex.items-center.justify-center(class='sm:items-stretch sm:justify-start')
            .flex-shrink-0.flex.items-center
              a(href="/")
                img.block.h-8.w-auto(class='lg:hidden' src='/img/logo.png' alt='Faceitfinder')
              a(href="/")
                img.hidden.h-8.w-auto(class='lg:block' src='/img/logo.png' alt='Faceitfinder')
            .hidden(class='sm:block sm:ml-6')
              .flex.space-x-4
                //- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white"
                a.bg-gray-900.text-white.px-3.py-2.rounded-md.text-sm.font-medium(href='/' aria-current='page') Home
                a.text-gray-300.px-3.py-2.rounded-md.text-sm.font-medium(class='hover:bg-blue-600 hover:text-white' href='https://discord.gg/uPAdfvfuTP' aria-current='page' target='_blank') Discord Server
                a.text-gray-300.px-3.py-2.rounded-md.text-sm.font-medium(class='hover:bg-indigo-600 hover:text-white' href='https://discord.com/oauth2/authorize?client_id=838088031222235197&permissions=274878220288&scope=bot%20applications.commands' aria-current='page' target='_blank') Discord Bot

      #mobile-menu(class='sm:hidden hidden')
        .px-2.pt-2.pb-3.space-y-1
          //- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white"
          a.bg-gray-900.text-white.block.px-3.py-2.rounded-md.text-base.font-medium(href='/' aria-current='page') Home
          a.text-gray-300.block.px-3.py-2.rounded-md.text-base.font-medium(href='https://discord.gg/uPAdfvfuTP'
            target='_blank'
              class='hover:bg-blue-600 hover:text-white') Discord

    main.px-2.min-h-screen.container.mx-auto.z-40(class='sm:px-6 lg:px-8')
      block content

    //- Save Class
    .w-full.hidden.bg-slate-600.text-white.rounded-md.px-2.py-1.m-1.bg-gray-700.text-gray-300.rounded-md.h-full.p-2.bg-inherit.text-ellipsis.overflow-hidden.h-72.h-min.content-start.max-w-2xl.w-2xl.cursor-pointer.overflow-y-scroll(class='focus:outline-none hover:bg-red-400  hover:font-medium')

    script(src="js/header.js")
    script(src="js/tagsInput.js")
    block scripts