extends layout

block content
  .flex.flex-wrap.min-h-screen.pt-24.pb-4.text-gray-300
    .w-full.max-w-screen-xl.mx-auto.rounded-md
      each user in datas
        if user.error 
          .bg-red-400.rounded-md.mb-3.p-3.font-medium
            span.text-red-800 Error: #{user.error}. User requested 
              u.font-bold #{user.steamParam}
        else
          .bg-slate-700.rounded-md.mb-6.p-3.shadow-md
            //- All panels
            .flex.flex-col.gap-4.flex-wrap(class='md:flex-row')
              //- First panel
              .flex.flex-row.gap-2.bg-gray-800.rounded-md.p-2(class='md:flex-col xl:flex-row')
                //- Avatar
                img.w-36.h-36.rounded-md.shadow-md(
                  src=user.playerDatas.avatar 
                  alt='avatar-' + user.playerDatas.nickname)
                .flex.flex-row.gap-2.h-min.flex-wrap(class='sm:flex-row md:flex-col')
                  .flex.gap-2.w-fit.flex-wrap
                    //- Nickname
                    .bg-gray-700.rounded-md.text-white.px-2.h-min
                      span.font-medium=user.playerDatas.nickname
                    //- Steam link
                    .flex.items-center.bg-gray-700.rounded-md.text-white.px-1.py-1.h-min(class='sm:px-2')
                      a(href='https://steamcommunity.com/profiles/' + user.steamId target='_blank')
                        img.min-h-4.w-4.h-4(src='img/steam.svg')
                    //- Faceit link
                    .flex.items-center.bg-gray-700.rounded-md.text-white.px-2.py-1.h-min
                      a(href='https://www.faceit.com/en/players/' + user.playerDatas.nickname target='_blank')
                        img.min-h-4.w-4.h-4(src='img/faceit.svg')
                  .flex.items-center.justify-between.bg-gray-700.rounded-md.text-white.py-1.px-2.h-min
                    //- Elo
                    .flex-1
                      span.font-medium Elo: 
                      span=user.playerDatas.games.csgo.faceit_elo
                    //- Level logo
                    img.ml-2.w-8.h-8(src='img/faceit/faceit'+ user.playerDatas.games.csgo.skill_level + '.svg'
                      alt='level' + user.playerDatas.games.csgo.skill_level)
                    //- Last match results
                  .flex.flex-col.bg-gray-700.rounded-md.text-white.py-1.px-2.h-min
                    h2.capitalize.font-medium last matches: 
                    p.flex.justify-around.items-center
                      each result in user.playerStats.lifetime['Recent Results']
                        if result == '1'
                          span.font-medium.text-green-500 W
                        else
                          span.font-medium.text-red-500 L
              //- Second and Third panel
              .flex.flex-1.gap-4.flex-col(class='xl:flex-row')
                //- Second panel
                .flex.flex-col.gap-2.bg-gray-800.rounded-md.p-2
                  h2.rounded-md.text-white.px-2.font-medium Main Stats: 
                  //- Country Ladder, Region Ladder
                  .flex.items-center.gap-x-2.w-max
                    //- Country Ladder
                    .flex-1.flex.items-center.justify-center.gap-x-1.bg-gray-700.rounded-md.text-white.px-2
                      img.w-5.h-5(src='https://purecatamphetamine.github.io/country-flag-icons/3x2/' +  user.playerDatas.country.toUpperCase() + '.svg'
                        alt='country-' + user.playerDatas.country)
                      span.w-fit=user.ladder.country.position
                    //- Region Ladder
                    .flex-1.flex.items-center.justify-center.gap-x-1.bg-gray-700.rounded-md.text-white.px-2
                      img.w-5.h-5(src='https://purecatamphetamine.github.io/country-flag-icons/3x2/' +  user.playerDatas.games.csgo.region.toUpperCase() + '.svg'
                        alt='country-' + user.playerDatas.games.csgo.region)
                      span.w-fit=user.ladder.region.position
                  //- Stats
                  .flex.flex-1.gap-2.flex-wrap
                    .flex.bg-gray-700.rounded-md.text-white.px-2.gap-x-2.h-min
                      p
                        span.font-medium Matches: 
                        span #{user.playerStats.lifetime.Matches}
                      p
                        span.font-medium Winrate: 
                        span #{user.playerStats.lifetime['Win Rate %']}%
                    .flex.bg-gray-700.rounded-md.text-white.px-2.gap-x-2.h-min
                      p 
                        span.font-medium K/D: 
                        span #{user.playerStats.lifetime['Average K/D Ratio']}
                    .flex.bg-gray-700.rounded-md.text-white.px-2.gap-x-2.h-min
                      p 
                        span.font-medium HS: 
                        span #{user.playerStats.lifetime['Average Headshots %']}%
                    .flex.bg-gray-700.rounded-md.text-white.px-2.gap-x-2.h-min
                      p 
                        span.font-medium.capitalize Longest win streak: 
                        span #{user.playerStats.lifetime['Longest Win Streak']}
                //- Thrid panel
                .flex.flex-1.flex-col.gap-2.bg-gray-800.rounded-md.p-2
                  h2.rounded-md.text-white.px-2.font-medium.capitalize Last 10 Matches Stats: 
                  .flex.gap-2.flex-wrap
                    .flex.bg-gray-700.rounded-md.text-white.px-2.gap-x-2.h-min
                      p
                        span.font-medium Matches: 
                        span #{user.lastStatsGame.games}
                      p
                        span.font-medium Winrate: 
                        span #{user.lastStatsGame.winrate}%

                    each value, key  in user.lastStatsGame
                      if key !== 'games' && key !== 'winrate'
                        .flex.bg-gray-700.rounded-md.text-white.px-2.gap-x-2.h-min
                          p
                            span.font-medium.capitalize #{key}: 
                            span #{value}
